.nav {
    padding-left: 2% !important;
}
.NavBar
{
    /*vampire black */
    background-color: #4e4e4e;
    color: #0abab5;
    height: 6%;
    align-content: center;
}
.a {
    color: white;
}
.background {
     /*white smoke */
     background-color: #4e4e4e; 
     height: 100vh;
     width: 100vw;
}
.ahh {
    padding-right: 2em;
    padding-left: 12px;
    color:#0abab5 !important;

}

.active{
    background-color: black;
    border-radius: 5px;
}

.landingTitle {
    color: #0abab5;
    font-size: xx-large;
    padding-top: 5%;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: span 3;
    align-self: center;
    padding-left: 20%;
}

.socialMedia {
    grid-row-start: 3;
    grid-row-end: span 1;
}

.socialButton {
    grid-column-end: 1;
    vertical-align: middle;
}

.pager {
    grid-row-start: 4;
    grid-column-start: 4;
    align-self: end;
}

.contactTitle {
    color: #0abab5;
    font-size: x-large;
    text-align: center;
    padding-top: 5%;
}

.projectsTitle{
    color: #0abab5;
}

.information{
    width: 260px;
    height: 350px;
    background-color: ivory;
    padding: 10%;
}

.grid-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 1em;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
}

.grid-item {
    padding: 2em;
    text-align: center;
    align-items: center;
}

.projectCard {
    display: contents;
    text-align: center;
    align-items: center;
}

.grid-container-1{
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 100vw;
    height: 89vh;
     
}

.description {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    padding-top: 2%;
    padding-left:5%;
    color:  #0abab5;
}

