ul.header li {
    display: inline;
    list-style: none;
    margin: 2em;
}

.active{
    background-color: #0099FF;
}

.landingTitle {
    color: blueviolet;
    font-size: xx-large;
    text-align: center;
    padding-top: 5%;
}