.nav {
    padding-left: 2% !important;
}


.NavBar nav nav-pills {
    align-content: center;
}
.NavBar
{
    /*vampire black */
    background-color:#4e4f5b;
    color: #EEEEF0;
    height: 8vh;
    font-size: 1.2rem;
    align-content: center;
}
.a {
    color: white;
}
.background {
     /*white smoke */
     background-color: #575866; 
     min-height: 100vh;    
     min-width: 100vw;
}
.ahh {
    padding-right: 2em;
    padding-left: 12px;
    align-self: center;
    color:#EEEEF0 !important;
    font-family: monospace;
    font-size: 	1.3rem;

}

.active{
    background-color: #AA5561;
    border-radius: 5px;
}

.landingTitle {
    color: #EEEEF0;
    font-size: xx-large;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: auto;
    align-self: center;
    font-family: monospace;
}

.homeImage {
    display: none;
    
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.socialMedia {
    grid-row-start: 2;
    grid-row-end: span 1;
    display: flex;
    flex-direction: column;
}

.socialMedia a i {
    font-size: 2.2rem;
    padding-left: 1%;
    margin: 10px;
  
}

.socialMedia a i.fa-twitter{
    color: #00acee;
      
}

.socialMedia a i.fa-twitter:hover {
    animation: spin 5s;
}

.socialMedia a i.fa-github {
    color:black;
}

.socialMedia a i.fa-github:hover {
    color:white;
    animation: spin 5s;
}

.socialMedia a i.fa-linkedin {
    color: #0e76a8;
}

.socialMedia a i.fa-linkedin:hover {
    animation: spin 5s;
}

.socialMedia a i.fa-scroll {
    color:#b6ac9d;
}

.socialMedia a i.fa-scroll:hover {
    animation: spin 5s;
}

.terminal {
    display: none;
}

.projectsTitle{
    color: #EEEEF0;
    font-family: monospace;
    text-align: left;
    margin: 0.25em;
}

.information{
    width: 16.25rem;
    height: 21.875rem;
    background-color: ivory;
    padding: 0%;
    font-family: monospace;
}


@media screen and (min-width: 40em){
 .grid-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    padding: 1em;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    } 

    .homeImage {
        display: grid;
        grid-column-start: 3;
        justify-items: end;
        grid-row-start: 2;
        width: 50vw;    
        height: 67vh;
        
    }

    .terminal {
        display: grid;
        grid-row-start: 4;
        grid-column-start: 4;
        align-self: end;
    }
    
    .terminal a i.fa-terminal {
        color:#AA5561;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
    grid-template-rows: max-content;  
}

.apologise {
    display: none;
}

@supports(-webkit-overflow-scrolling: touch) {
    .grid-container{
        display: contents;
        flex-wrap: wrap;
        flex-direction: row; 

    }
    .button {
        height: 300px !important;
    }

    .apologise{
        display: contents;
        color:#EEEEF0;
    }

}

.grid-item {
    padding: 2em;
    text-align: center;
    align-items: center;
}

.projectCard {
    display: contents;
    text-align: center;
    align-items: center;
    min-height: 240px;
    font-family: monospace;
    font-weight: 100;
}
.projectCard a {
    font-family: monospace;
}

.projectCard a i {
    font-size: 25px;
    margin: 5px;
}
.projectCard a i.fa-github {
    color:black;
}

.projectCard a i.fa-scroll {
    color:#b6ac9d;
}


.grid-container-1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%; 
    width: 100vw;
    height: 89vh;
     
}

.description {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    color:  #EEEEF0;
    font-family: monospace;
    font-size: 1.25em;
    letter-spacing: 0.1em;
}

.projectdescription {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    color:  #EEEEF0;
    font-family: monospace;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin: 0.5em;
}

.contactTitle {
    color: #EEEEF0;
    font-size: 1.9em;
    text-align: center;
    padding-top: 3em;
    font-family: monospace;
    padding-right: 20%;
}

.contactform {
    background: #666557;
    padding: 1em;
}

.form-group label {
    color: #EEEEF0;
    font-family: monospace;
    font-size: 1.2em;
}

#conSubmit{
    background-color: #AA5561 !important;
    color: #EEEEF0;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.25em;
}
/* 
.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    width: 420px;
    height: 340px;
    margin: 1em;
    perspective: 1500px;
}

.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: perserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.more {
    display: none;
}

.more &:checked ~ .content {
    transform:rotateY(180deg);
}

.front,
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid rgb(240, 240, 240);
}

.back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    height: 100%;
    display:grid;
    padding:1.5em;
    transform: translateZ(80px) scale(0.94);
}

.front .inner {
    grid-template-rows: 1fr;
    justify-items: center;
    height: 100%;
    display:grid;
    padding:1.5em;
    transform: translateZ(80px) scale(0.94);
}

.front .blurb {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
}

.front {
    background-color: #fff;
    background-size: cover;
    background-image: url('./static/images/webpage.png');
    background-position: center center;
}

.blurb {
    color: #fff;
}

.front &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
}

.front .h2 {
    grid-row: 2;
        margin-bottom: 0.3em;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff !important;
        font-weight: 500;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3;
}

.back .info &:not(:first-of-type):before{
    content: '';
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
}

.back .span {
    font-size: 2em;
    font-weight: 700;

}

.info i &:before {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.info i {
    font-size: 1.2em;
}

.info .span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
}

.description1 {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: #355cc9;
    padding-right: 10px;
}

.detailsButton {
    grid-column: 1/-1;
    justify-self: center;
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.detailsButton &:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #355cc9;
}

.buttonreturn {
    line-height: 3em;
    color: #355cc9;
    border-color: #355cc9;
    text-shadow: none;
}

.buttonreturn &:hover {
    background-color: #355cc9;
    color: #fff;
    box-shadow: none;
} */